/*Main*/

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background-color: var(--color-background);
  transition: background-color ease-in-out .5s;
  scroll-behavior: smooth;
  --color-background: #1F1F1F;
  --font-color: #e0e0e0;
  --bar-color: #161616;
  --box-shadow-color: #161616;
  --text-shadow-color: #353535;
  --additional-color: #cfcfcf;
}

a {
  text-decoration: inherit;  
}

a:hover {
  color: #2160D4;
}

body {
  margin: 0;
}

body {
  margin: 0;
  overflow: hidden;
  transition: overflow-y 0.5s ease;
}

.scrollbar-visible {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--text-shadow-color);
  border-radius: 3px;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.1;
  font-weight: 400;
  color: var(--font-color);
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
}

p {
  font-size: 2rem;
  color: var(--font-color);
  transition: color ease-in-out .5s;
}

/*Icons*/

svg {
  width: 100%;
  height: 100%;
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out .5s;
  border: none;
  color: var(--font-color);
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.workWith {
  flex-wrap: wrap;
  padding-left: 20vw;
  padding-right: 20vw;
}

.modal-icon {
  margin-top: 2vh;
  font-size: 5rem;
  margin-block-end: 2vh;
}

.modal-icon:hover {
  filter: contrast(0.1);
}

.iconButton {
  background: none;
  font-size: 15rem;
  height: 6rem;
  width: 6rem;
}

.iconButton:hover {
  filter: contrast(0.1);
}

.clickableIcon {
  background-color: var(--color-background);
  border-radius: 100px;
  font-size: 10rem;
  height: 7rem;
  width: 7rem;
}

.contact div {
  gap: 8vw;
}

.clickableIcon:hover {
  background-color: var(--text-shadow-color);
}

/*Responsywność*/

/*Height*/

@media screen and (max-height: 850px) {
  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 4rem;
  }
}

/*Width*/

@media screen and (max-width: 800px) {
  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .workWith {
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}