:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html{
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

/*Upper Bar*/

.bar{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #242424;
  color: #fff;
  text-align: center;
  gap: 12%;
  height: 80px;
  font-size: 2rem;
}

/*About Me*/

.aboutMe{
  width: 100%;
  height: 40vh;
  background-color: #242424;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper button{
  margin: 3rem;
}

.box{
  font-size: 3em;
  text-shadow: #111111 3px 4px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 25vh;
  background-color: #242424;
  border-radius: 25px;
  transition: ease-in-out 0.5s;
  border: none;
  margin: 0;
  padding: 0;
}

#SnakeTHEgame{
  background-image: url(snake.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#Calendar{
  background-image: url(calendar.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
#GoodToKnow{
  background-image: url(mind.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#PhoneWidgets{
  background-image: url(widget.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box span{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(128, 199, 223);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 15px 15px 1px 4px rgb(27, 27, 27);
  font-weight: 500;
}

.box:hover{
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.Projects{
  width: 100%;
}

.Projects h1{
  padding: 2rem;
}

/*Contact*/

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #242424;
  color: #fff;
  gap: 3.5vh;
}

#emailInput{
  width: 60%;
  height: 5vh;
  border-radius: 10px;
  padding: 1vh;
  font-size: 1.5rem;
  background-color: #242424;
  border: 1px solid #fff;
  transition: ease-in-out 0.5s;
}

#emailInput:hover{
  border: 1px solid #646cff;
}

#textInput{
  width: 60%;
  height: 20vh;
  border-radius: 10px;
  padding: 1vh;
  font-size: 1.5rem;
  background-color: #242424;
  border: 1px solid #fff;
  transition: ease-in-out 0.5s;
}

#textInput:hover{
  border: 1px solid #646cff;
}

#submitBtn{
  width: 50%;
  height: 5vh;
  border-radius: 10px;
  border: none;
  padding: 1vh;
  font-size: 1.5rem;
  background-color: #545ceb;
  transition: ease-in-out 0.5s;
}

#submitBtn:hover{
  background-color: #3941d6;
}

/*Footer*/

.footer{
  text-align: center;
  padding: 2rem;
  background-color: #242424;
  color: #fff;
}

/*Modal*/

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border: none;
}

.modal-content{
  width: 60%;
  max-width: 80%;
  height: 40%;
  background-color: #242424;
  color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.modal-content button{
  width: 40%;
  height: 5vh;
  border-radius: 10px;
  border: none;
  font-size: 1.7rem;
  background-color: #545ceb;
}

.modal-content button:hover{
  background-color: #3941d6;
}

body.active-modal{
  overflow: hidden;
}

.modal-par{
  font-size: 1.4rem;
}
.modal-header{
  font-size: 2.7rem;
}

.active-modal .modal-content {
  transform: translateY(0%);
}

.modal-content {
  transform: translateY(-50%);
}