.sitePart{
    height: max-content;
    width: -webkit-fill-available;
    width: -moz-available;
}

.sitePart > button {
    margin: 0;
    padding: 0;
    border: none;
    font-family: inherit;
    transition: all ease-in-out .5s;
    color: var(--font-color);
}

.box {
    overflow-y: auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-position: center;
    cursor: pointer;
    background: none;
    width: inherit;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.box:nth-of-type(1) {
    background-image: url(../borufi.png);
}

.box:nth-of-type(2) {
    background-image: url(../schoolProjectBg.png);
}

.box:nth-of-type(3) {
    background-image: url(../techNewsBg.png);
}

.box:nth-of-type(4) {
    background-image: url(../discord.png);
}

.box:nth-of-type(5) {
    background-image: url(../snake.png);
}

.box > h3 {
    font-size: 8rem;
    z-index: 1;
    display: flex;
    backdrop-filter: blur(7px) brightness(0.5);
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    transition: backdrop-filter .5s ease-in-out;
}

.box:hover > h3 {
    backdrop-filter: blur(5px) brightness(0.7);
}

.animate {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color .5s ease-in-out;
    z-index: 100;
}

.modal-div {
    max-width: -moz-fit-content;
    max-height: -moz-fit-content;
    max-width: fit-content;
    max-height: fit-content;
    width: 80vw;
    background-color: var(--box-shadow-color);
    color: var(--font-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content div {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-content button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1vh;
    margin-top: 1vh;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--font-color);
    transition: color .5s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
}

.modal-content button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-par {
    font-size: 1.5rem;
    width: 75%;
    margin: 0;
}

.modal-header {
    font-size: 3rem;
    width: 75%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
}

@media screen and (max-width: 800px) {
    .modal-content {
        gap: 3vh;
    }
    .box {
        height: 20vh;
    }
    .box > h3 {
        font-size: 4rem;
    }
}

@media screen and (max-height: 850px) {
    .box {
        height: 40vh;
    }
}